{% extends "layout.html" %}
{% block content %}
	<h1> Welcome to the Homepage</h1>
	{% for posts in posts %}
				<article class="media content-section">
			  <div class="media-body">
			    <div class="article-metadata">
			      <a class="mr-2" href="#">{{ posts.name }}</a>
			      <small class="text-muted">{{ posts.runs_scored }}</small>
			    </div>
			    <h2><a class="article-title" href="#">{{ posts.average }}</a></h2>
			    <p class="article-content">{{ posts.batting }}</p>
			  </div>
			</article>
	{% endfor %}
{% endblock content %}
